{% extends "base.html.twig" %}
{% block title %}{{ parent() }} - Contact {% endblock %}

{% block body %}
    {# Création du container pour afficher les identifiants et le rôle #}
    <div class="jumbotron" style="margin-top: 50px;">
        <h1>Mon Profil</h1> 
        <div class="row">
            <div class="col-10">
                <ul class="list-group">
                {# Je recupere le nom #}
                    <li class="list-group-item">{{ nom }}</li>
                {# Je recupere le Prénom #}
                    <li class="list-group-item">{{ prenom }}</li>
                {# Je recupere le Rôle #}
                    <li class="list-group-item">{{ role }}</li>
                </ul>
            </div>
        </div>
    </div>

{% endblock %}