{% extends "base.html.twig" %}
{% block title %}{{ parent() }} - Login {% endblock %}

{% block body %}
    <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
            <div class="card card-signin my-5">
                <div class="card-body">
                    <h5 class="card-title text-center">S'inscrire</h5>


                <form class="form-signin" name="authentification" method="POST">
                    <div class="form-label-group">
                        <input type="email" name="mail" id="inputLogin" class="form-control" placeholder="Identifiant" required autofocus value="{{ arrayRememberMe[0] }}">
                        <label for="inputLogin">Votre Identifiant</label>
                    </div>

                    <div class="form-label-group">
                        <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required value="{{ arrayRememberMe[1] }}">
                        <label for="inputPassword">Votre mot de passe</label>
                    </div>

                     <div class="form-label-group">
                        <input type="text" name="nom" id="inputNom" class="form-control" placeholder="Nom">
                        <label for="inputPassword">Votre nom</label>
                    </div>

                    <div class="form-label-group">
                        <input type="text" name="prenom" id="inputPrenom" class="form-control" placeholder="Prenom">
                        <label for="inputPassword">Votre prénom</label>
                    </div>

                    <div class="custom-control custom-checkbox mb-3">
                        {% set checked = "" %}
                        {% if arrayRememberMe[0] != '' %} {% set checked = "checked" %}{% endif %}
                        <input type="checkbox" {{ checked }} class="custom-control-input" name ="remember" id="customCheck1">
                        <label class="custom-control-label" for="customCheck1">Remember password</label>
                    </div>
                    <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Valider l'inscription</button>
                </form>
            </div>
        </div>
    </div>
    </div>


{% endblock %}