{% extends "base.admin.html.twig" %}
{% block title %}{{ parent() }} - Ecriture de fichier {% endblock %}

{% block body %}

    <div class="container">
        <div class="jumbotron">
            <h1 class="display-4">Ecrire dans un fichier</h1>
            <form method="post">
                <div class="form-group">
                    <label for="postDescription">Données</label>
                    <textarea class="form-control" id="postDescription" name="postDescription" rows="10">{{ postData }}</textarea>
                </div>
                <button type="submit" class="btn btn-primary">Ecrire</button>
            </form>
        </div>
    </div>


{% endblock %}