<html>
<head></head>
<body>
<h1>Demande de contact </h1>
<p>
    Une nouvelle personne souhaiterais obtenir plus d'information</a>
</p>

<p>Nom{{ contact.nom }}</p>
<p>Email{{ contact.email }}</p>
<p>Message{{ contact.message }}</p>
</body>
</html>
